<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="_test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <server name="test_sql_driver" value="sqlite" />
        <server name="test_connection_mysql" value="dbname=apex, user=boxer, password=white4882, host=localhost, port=3306"/>
        <server name="test_connection_postgresql" value="dbname=apex, user=boxer, password=white4882, host=localhost, port=5432"/>
        <server name="test_redis_info" value="host=127.0.0.1, port=6379, password=, dbindex=15"/>
    </php>
</phpunit>

